/* Admin Layout */
.wrapper {
    display: flex;
    height: 100vh;
    background: var(--color-admin-bg);
    color: #ffffff;
    overflow: hidden;
}

.body {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 2rem;
}